---
import Page from '../../components/Page.astro';
import Achievements from './Achievements.svelte';
---

<Page title="Achievements" columns="1">
    <li class="page-section">
        <Achievements client:load />
    </li>
</Page>
