---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';
import processes from './processes.json';
import items from '../inventory/json/items.json';

const processesByMachine = getProcessesByMachine(processes);

function getProcessesByMachine(processList) {
    const machines = {'none': []};
    processList.forEach((process) => {
        const machineId = process.machine;
        if (machineId !== undefined) {
            if (!machines[process.machine]) {
            machines[process.machine] = [];
            }
            machines[process.machine].push(process);
        } else {
            machines['none'].push(process);
        }
    });
    return machines;
}
---

<Page title="Processes" columns="1">
    <div id="container">
        {Object.keys(processesByMachine).map((machineId) => {
            const machineProcesses = processesByMachine[machineId];
            const machine = items.find((item) => item.id === machineId);

            return (
                <div class="horizontal">
                <h3>{machineId === 'none' ? '' : machine.name}</h3>
                </div>
                <div class="horizontal">
                    {machineProcesses.map((process) => {
                        return (
                            <Chip text={process.title} href={`/processes/${process.id}`} />
                        )
                    })}
                </div>
            )
        })}
    </div>
</Page>

<style>
    #container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #container li {
        list-style-type: none;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
    }

    .horizontal h3 {
        margin: 0;
        min-width: 2rem;
    }
</style>