---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';
import items from '../inventory/json/items.json';

const machines = items.filter(item => item.type === 'machine');
---

<Page columns="1">
    Available machines:

    {machines && machines.map((machine) => (
        <div>
            <img src={machine.image} />
            <div class="horizontal">
                <Chip text="make a test print" href="/processes/3dprint-benchy" />
                <Chip text="print a model rocket" href="/processes/3dprint-rocket" />
            </div>
        </div>
    ))}
</Page>

<style>
    img {
        width: 200px;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
    }
</style>