---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';
import Card from '../../components/Card.astro';
import { fixMarkdownText } from '../../utils';

const { slug } = Astro.params;
let title, html;

const docs = await Astro.glob('./md/*.md');

const doc = docs.find((doc) => doc.frontmatter.slug === slug);

if (doc) {
    html = fixMarkdownText(doc.compiledContent());
    title = doc.frontmatter.title;
}
---

{
    doc
    ?
    <div>
        <Page title={doc.frontmatter.title} columns="1">
            <div>
                <Chip text="Docs" href="/docs" />
                <span>-></span>
                <Chip text={title} href={`/docs/${slug}`} />
            </div>
            <span set:html={html} />
        </Page>
    </div>
     : 
    <div>
        <Page title="Doc not found" columns="1">
            <Chip text="Docs" href="/docs" />
            <Card
                body={`Should something exist here? Add a file on Github and submit a pull request.`}
                href="https://github.com/democratizedspace/dspace/new/main/frontend/pages/settings/json"
                image="/assets/quill.jpg"
            />
        </Page>
    </div>
}

<style>
    span {
        background-color: white;
        color: black; 
        padding: 10px;
        border-radius: 20px;
        overflow: auto;
    }
</style>