---
import { randomBytes } from 'node:crypto';
import Layout from '../../layouts/Layout.astro';
import { getCookieValue } from '../../utils';
import Avatar from '../../components/svelte/Avatar.svelte';
---

<Layout title="Profile">
    <main>
        <div class="horizontal">
            <Avatar client:load />
            <div class="vertical">
            </div>
        </div>

        <p>Choose a default avatar</p>
    </main>
</Layout>

    <style>
        .horizontal {
            display: flex;
            flex-direction: row;
            /* center items in this div vertically */
            align-items: center;
        }

        .item {
            /* equal spacing between items, and centered */
            justify-content: space-evenly;
            margin-left: 2rem;
        }

        .vertical {
            display: flex;
            flex-direction: column;
        }

        .hidden {
            display: none;
        }    </style>

