---
import Page from '../../components/Page.astro';
import { randomBytes } from 'node:crypto';
import { getCookieValue } from '../../utils';
import EthProfile from '../../components/svelte/EthProfile.svelte';
import Avatar from '../../components/svelte/Avatar.svelte';

let token;

// get cookie value for 'token'
const cookie = Astro.request.headers.get('cookie');
const tokenCookieValue = getCookieValue(cookie, 'token');

if (tokenCookieValue) {
    token = tokenCookieValue;
} else {
    token = randomBytes(256).toString('hex');
    // call randomBytes synchronously and create a cookie using Astro.response.headers.append
    const tokenCookie = `token=${token}; expires=Fri, 31 Dec 9999 23:59:59 GMT; HttpOnly; Secure; SameSite=Strict`;
    Astro.response.headers.append('Set-Cookie', tokenCookie);
}

// the first 3 characters, a comma, and the last 3 characters of the token
const tokenPreview = `${token.slice(0, 3)}...${token.slice(-3)}`;

---

<Page title="Profile">
    <div class="horizontal">
        <Avatar client:load />
        <div class="vertical">
            <p class="item">Display Name (@username)</p>
            <p class="item">Title: Initiate</p>
        </div>
    </div>

    <p>Choose a default PFP or connect your Ethereum wallet to use your own NFTs as your profile picture.</p>
    <EthProfile client:visible />
</Page>

<style>
    .horizontal {
        display: flex;
        flex-direction: row;
        /* center items in this div vertically */
        align-items: center;
    }

    .item {
        /* equal spacing between items, and centered */
        justify-content: space-evenly;
        margin-left: 2rem;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }

    .hidden {
        display: none;
    }
</style>