---
import Page from '../../../../components/Page.astro';
import Chip from '../../../../components/Chip.astro';
import items from '../../../inventory/json/items';

import { getSymbolFromId, prettyPrintNumber } from '../../../../utils.js';

const { itemId, count } = Astro.params;

const item = items.find((item) => item.id === itemId);
const symbol = getSymbolFromId(item.id);

const totalCost = parseFloat(item.price) * parseFloat(count.toString());
const formattedCost = prettyPrintNumber(totalCost);
---

<Page title={`Purchase successful!`} columns="1">
  <div class="vertical">
    <p>Added</p>
  </div>
  <div class="horizontal">
    Spent <Chip text={`${formattedCost} ${symbol}`} /> on <Chip text={`${count} x ${item.name}`} />.
  </div>
</Page>

<style>
  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>
