---
import Page from '../../../../components/Page.astro';
import Chip from '../../../../components/Chip.astro';
import items from '../../../inventory/json/items.json';

import { getWalletBalance, getSymbolFromId, prettyPrintNumber } from '../../../../utils.js';

const { itemId, count } = Astro.params;

const item = items.find((item) => item.id === itemId);
const symbol = getSymbolFromId(item.id);

const totalCost = parseFloat(item.price) * parseFloat(count.toString());
const previousWalletBalance = getWalletBalance(Astro.request, symbol);
const currentWalletBalance = prettyPrintNumber(previousWalletBalance - totalCost);
---

<Page title={`Purchase successful!`} columns="1">
  <div class="vertical">
    <p>Added</p>
  </div>
  Your wallet balance went from
  <div class="horizontal">
    <Chip text={`${prettyPrintNumber(previousWalletBalance)} ${symbol}`} /> to <Chip text={`${currentWalletBalance} ${symbol}`} />.
  </div>
</Page>

<style>
  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>