---
import Logo from '../components/Logo.astro';
import Chip from '../components/Chip.astro';
import { ChipVariants, ChipSize } from '../components/Chip.astro';

export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<a href="/">

	<div class="vertical">
		<Logo />
		<span class="text-gradient title">DSPACE</span>
		<p class="domain">democratized.space</p>
	</div>
	
</a>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #80df98, #00ff22);
	}

	a {
		text-decoration: none;
	}

	.text-gradient {
		font-weight: 900;
		background: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 2s ease-in-out infinite;
		display: table;
		margin: 0 auto;
		font-size: 2em;
	}

	.default-size {
		font-size: 1em;
	}

	@keyframes pulse {
		0% {
			background-position-y: 0%;
		}
		100% {
			background-position-y: 200%;
		}
	}

	.horizontal {
		display: flex;
		flex-direction: row;
	}

	.vertical {
		display: flex;
		flex-direction: column;
		/* center */
		align-items: center;
	}

	.item {
		gap: 2px;
	}

	.right {
		align-items: flex-end;
	}

	.container {
		background: rgb(20, 20, 20);
		padding: 10px;
		border-radius: 10px;
		margin-top: 20px;
	}

	.domain {
		font-size: 0.8em;
		color: #00ff22;
		margin-top: 0px;
	}
</style>