---
import { getItemCountString } from '../pages/inventory/utils.js';

import items from '../pages/inventory/json/items.json';

const { itemList, hideName = false, unlink = false } = Astro.props;

const itemMetadata = itemList.reduce((acc, item) => {
    const metadata = items.find((i) => i.id === item.id);
    const image = metadata.image;
    const name = metadata.name;

    acc[item.id] = { ...item, image, name };
    return acc;
}, {});
---

<div class="itemlist">
    <div class="itemlist">
        {itemList.map((item) => (
            <li>
                <a href={`/inventory/item/${item.id}`}><img src={itemMetadata[item.id].image} class="icon" /></a>
                {getItemCountString(Astro.request, item.id, false, item.count)}
                {!hideName && <span>{itemMetadata[item.id].name}</span>}
            </li>
        ))}
    </div>
</div>

<style>
    img {
        width: 200px;
    }

    .itemlist {
        display: flex;
        flex-direction: column;
        color: black;
        font-size: x-large;
        list-style-type: none;
        background-color: #46a446;
        border-radius: 10px;
        padding: 5px;
    }

    .icon {
        margin-bottom: -8px;
        border-radius: 10px;
        width: 30px;
        transition: 0.2s;
    }

    .icon:hover {
        /* add red outer glow */
        box-shadow: 0 0 10px 1px #121518;
    }
    
    li {
        list-style-type: none;
        padding: 5px;
        width: 100%;

    }
</style>