---
import Button from '../components/Button.astro';
import Card from './Card.astro';

export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props as Props;
---

<li>
    <div><h1><span class="text-gradient">DSPACE</span></h1></div>
</li>