---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props as Props;
---

<div></div><img src="assets/logo.png" alt="A logo of a rocket lifting off from Mars, minimalistic. Made with DALL-E 2." class="logo" />

<style>
	.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
	}
</style>