---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Settings from '../components/SettingsContainer.astro';

const { hideHome, hideSettings, title, message } = Astro.props;
const hideAll = hideHome && hideSettings;
---

<Layout title="DSPACE">
	<main>
		<img src="/assets/logo.png" alt="Logo of a rocket leaving Mars, minimalistic"/>
		<h1 class="text-right"><span class="text-gradient">DSPACE</span></h1>
		<h2>{title}</h2>
		
		{
			!(hideAll) &&
				<ul role="list" class="link-card-grid">
					{!(hideHome) &&
						<Card
							href="/"
							title="Back to home"
							body="Go to the main menu."
						/>}
					{!(hideSettings) && 
						<Settings
							href="/settings"
							title="Settings"
							body="Personalize your experience." />}
		</ul>}
		{!(hideAll) && <br /> <br />}
		<h2>{message}</h2>
		<ul role="list" class="link-card-grid">
			<slot />
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #2c5837, #00ff22);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 25%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #003a03;
		padding: 1rem;
		border-radius: 0.4rem;
		color: #00ff22;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
	.main-grid {
		list-style-type: none;
	}
</style>