---
import CooldownUntil from '../components/svelte/CooldownUntil.svelte';
import { getCookie } from '../utils';

const { title, text } = Astro.props;
---

<span class="severe">
    <h2>{title}</h2>
    <p>{text}</p>
</span>

<style>
    .severe > h2 {
        text-align: center;
    }

    .severe > p {
        text-align: center;
    }

    .severe {
        background-color: #f44336;
        color: white;
        padding: 20px;
        border-radius: 20px;
    }
</style>