---
import Page from './Page.astro';
import Card from './Card.astro';

export interface Props {
	title: string;
	body: string;
	href: string;
	disabled: boolean;
}

const { href, title, body, disabled } = Astro.props as Props;

let output = "foo";
---

<Page title="What's new">
    <h3>October 3, 2022</h3>
    <br />

    <p><a href="/docs">Docs</a> overhaul. Much nicer looking navigation menu.</p>

    <p>Create a page for crafting new items. Looks for them in the <a href="/quests">Quests</a>!</p>

    <h3>September 30, 2022</h3>
    <br />

    <p>Implemented a basic documentation system. Visit the <a href="/docs">Docs</a> page and check out the first iteration! More documentation will be added soon.</p>

    <p>Added images for all <a href="/quests">Quests</a> for all existing steps.</p>

    <p>Created the "What's new" page.</p>

</Page>

<style>
    a {
        opacity: 0.8;
		background-color: #84d484;
		border-radius: 100px;
		color: black;
		text-decoration: none;
		flex-direction: row;
		padding-left: 5px;
		padding-right: 5px;
        text-align: center;
        white-space: nowrap;
    }

    a:hover {
        opacity: 1;
    }

    p {
        background-color: #2f5b2f;
        padding: 15px;
		border-radius: 2rem;
        color: white;
    }

    h3 {
        color: white;
    }
</style>