---
import Button from './Button.astro';

const changelogs = await Astro.glob('../pages/docs/md/changelog/*.md');

const changelogsReversed = changelogs.reverse();

function prepareHtml(html) {
    return html + `
        <style>
            img {
                width: 100%;
                border-radius: 20px;
            }
        </style>
    `;
}
---

<span class="wrapper">   
    {changelogsReversed.slice(0, 1).map(doc => (
        <h3>Latest update: {doc.frontmatter.title}</h3>
        <span set:html={prepareHtml(doc.compiledContent())}></span>
    ))}
    <Button href="/changelog" text="View all updates" />
</span>

<style>
    img {
        width: 100%;
        border-radius: 20px;
    }

    span {
        background-color: white;
        color: black; 
        padding: 10px;
        border-radius: 20px;
    }

    .wrapper {
		background-color: white;
        padding: 20px;
    }
</style>