---
import Layout from '../../layouts/Layout.astro';
import QuestDetail from './svelte/QuestDetail.svelte';
const { id } = Astro.params;
---

<Layout title="Quest Details">
    <main>
        <QuestDetail questId={id} client:load />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 2rem;
        max-width: 800px;
        color: var(--color-text);
    }
</style> 
