---
import Page from '../../components/Page.astro';
import Quests from './svelte/Quests.svelte';
import QuestGraphVisualizerGate from '../../components/quests/QuestGraphVisualizerGate.svelte';
import questListManifest from '../../generated/quests/listManifest.json';
import { buildQuestGraph, type QuestData } from '../../lib/quests/questGraph';

const questData: QuestData[] = questListManifest.map((quest) => ({
    path: quest.sourcePath,
    quest: {
        id: quest.id,
        title: quest.title,
        requiresQuests: quest.requiresQuests,
    },
}));
const graph = buildQuestGraph({ quests: questData });
---

<Page title="Quests">
    <li class="page-section surface-plain">
        <Quests client:load quests={questListManifest}>
            <QuestGraphVisualizerGate slot="visualizer" client:load graph={graph} />
        </Quests>
    </li>
</Page>
