---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';
import ItemCount from '../../components/ItemCount.astro';
---

<Page columns="1">
    <div class="vertical list">
        <ItemCount itemList={[
            {
                "id": "22" // dWatt
            },
            {
                "id": "20" // dCarbon
            },
            {
                "id": "61" // dSolar
            },
            {
                "id": "70" // dOffset
            }
        ]} />
        <div class="item">
            <div class="horizontal list">
                <p>Wall outlet</p>
                <img src="/assets/outlet.jpg" />
                <p>Energy source: Coal</p>
            </div>
            <p>generate <Chip text="1000 dWatt" href={`/processes/outlet-dWatt`} />, <Chip text="1E4 dWatt" href={`/processes/outlet-dWatt-1e4`} />, or <Chip text="1E5 dWatt" href={`/processes/outlet-dWatt-1e5`} /></p>
            <p>Generating energy from a wall outlet assumes the outlet uses coal, which causes <Chip text="dCarbon" href={`/docs/dCarbon`} /> to accrue. Use an alternate energy source, like <Chip text="solar" href={`/docs/solar`} />, to avoid accruing dCarbon.</p>
            <p>dCarbon per dWatt: {.4325943029.toFixed(10)}</p>
            <p>price per kWh: 0.18 dUSD</p>
        </div>
        <div class="item">
            <div class="horizontal list">
                <p>Solar Panels</p>
                <img src="/assets/solar.jpg" />
                <p>Energy source: the Sun</p>
            </div>
            <p>generate <Chip text="200 dWatt" href={`/processes/solar-dWatt`} /> or <Chip text="1000 dWatt" href="/processes/solar-dWatt-1e3" /> using solar panels</p> 
            <p>Generating dWatt in this wway does not generate dCarbon!</p>
        </div>
        <div class="item">
            <div class="horizontal list">
                <p>Convert dCarbon to dOffset</p>
                <img src="/assets/solar.jpg" />
            </div>
            <p>convert <Chip text="1 dCarbon" href={`/processes/dCarbon-dOffset-1`} /> or <Chip text="10 dCarbon" href={`/processes/dCarbon-dOffset-10`} /> to <Chip text="dOffset" href="/inventory/item/70" /></p> 
            <p>Cost per dOffset: 10 <Chip text="dUSD" href="/wallet" /></p>
        </div>
    </div>
</Page>

<style>
    img {
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 20px;
    }

    .list {
        display: flex;
        gap: 10px;
    }

    .vertical {
        flex-direction: column;
    }

    .horizontal {
        flex-direction: row;
    }

    .item {
        padding: 10px;
        background-color: #46a446;
        color: black;
        border-radius: 20px;
    }
    
    .item p {
        /* double line height */
    }
</style>