---
import Page from '../../../../components/Page.astro';
import Chip from '../../../../components/Chip.astro';
import items from '../../../inventory/json/items';
import { getSymbolFromId, prettyPrintNumber } from '../../../../utils.js';

const { itemId, count } = Astro.params;

const item = items.find((item) => item.id === itemId);
const symbol = getSymbolFromId(item.id);

const totalCost = parseFloat(item.price) * parseFloat(count.toString());
const formattedTotal = prettyPrintNumber(totalCost);
---

<Page title={`Sale successful!`} columns="1">
  <div class="horizontal">
    Sold <Chip text={`${count} x ${item.name}`} />.
  </div>
  <div class="horizontal">
    Earned <Chip text={`${formattedTotal} ${symbol}`} />.
  </div>
</Page>

<style>
  .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>
