---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';

const currencies = [
    {
        "id": "24" // dUSD
    },
    {
        "id": "72" // dBI
    }
];
---

<Page columns="1">
    <h3>Balances</h3>
    <div>
    </div>

    <h3>Basic Income</h3> 
    <div>
        <Chip text="Earn basic income" href="/processes/basic-income" />
    </div>
</Page>