---
import Page from '../../components/Page.astro';
import Chip from '../../components/Chip.astro';
import CompactItemList from '../../components/svelte/CompactItemList.svelte';
import Process from '../../components/svelte/Process.svelte';

const currencies = [
    {
        "id": "24" // dUSD
    },
    {
        "id": "72" // dBI
    }
];
---

<Page columns="1">
    <h3>Balances</h3>
    <div class="vertical">
        <CompactItemList itemList={currencies} client:load />
    </div>

    <h3>Basic Income</h3>
    <Process processId="basic-income" client:load />
</Page>

<style>
    h3 {
        text-align: center;
    }

    .vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>