---
import Page from '../../components/Page.astro'
import Card from '../../components/Card.astro';
import Warning from '../../components/Warning.astro';

let title, severity, severityMessage, type, text;

const { slug } = Astro.params;

// import a file named slug.json
try {
    const data = await import(`./json/${slug}.json`);
    title = data.title;
    severity = data.severity;
    severityMessage = data.severityMessage;
    
    try {
        type = data.items[0].type;
        text = data.items[0].text;
    } catch (err) {
        console.error(err);
    }
} catch (err) {
}


---

<Page title={title} columns="1">
    {
        severity == 'high'
        ?
            <Warning title="Warning" text={severityMessage} />
        :
            <Fragment />
    }

    {
        type == 'text'
        ?
            <p>{text}</p>
        :
            <Card
                body={`Should something exist here? Add a file on Github and submit a pull request.`}
                href="https://github.com/democratizedspace/dspace/new/main/frontend/pages/docs"
                image="/assets/settings.jpg"
            />
    }
</Page>