---
import Page from '../components/Page.astro';
import Card from '../components/Card.astro';
import Gap from '../components/Gap.astro';
---

<Page>    
    <p>You accepted the 3D printer. It was shipped to your address.</p>
    <Gap title="Logo" body="" href="" />
    <Card
    href="/3dprinter-remove-pieces"
    title="Start assembly"
    body="This feels like it takes forever"
    />
</Page>