---
import Page from '../components/Page.astro';

const changelogs = await Astro.glob('./docs/md/changelog/*.md');

const changelogsReversed = changelogs.reverse();

function prepareHtml(html) {
    return html + `
        <style>
            img {
                width: 100%;
                border-radius: 20px;
            }
        </style>
    `;
}
---

<Page columns="1">
    {changelogsReversed.map(doc => {
        const slug = typeof doc.frontmatter?.slug === 'string' ? doc.frontmatter.slug : undefined;

        return (
            <div class="changelog-entry">
                <h3 id={slug}>{doc.frontmatter.title}</h3>
                <span set:html={prepareHtml(doc.compiledContent())}></span>
            </div>
        );
    })}
</Page>

<style>
    img {
        width: 100%;
        border-radius: 20px;
    }

    .changelog-entry > span {
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 20px;
    }
</style>
