---
import Page from '../components/Page.astro';

const changelogs = await Astro.glob('./docs/md/changelog/*.md');

const changelogsReversed = changelogs.reverse();

function prepareHtml(html) {
    return html + `
        <style>
            img {
                width: 100%;
                border-radius: 20px;
            }
        </style>
    `;
}
---

<Page columns="1">
    {changelogsReversed.map(doc => (
        <h3>{doc.frontmatter.title}</h3>
        <span set:html={prepareHtml(doc.compiledContent())}></span>
    ))}
</Page>

<style>
    img {
        width: 100%;
        border-radius: 20px;
    }

    span {
        background-color: white;
        color: black; 
        padding: 10px;
        border-radius: 20px;
    }
</style>