---
import Page from '../components/Page.astro';
import WhatsNew from '../components/WhatsNew.astro';
---

<Page columns="1">
    <div>Next quest</div>
    <WhatsNew />
</Page>

<style>
    div {
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        color: black;
    }
</style>