---
import Layout from '../layouts/Layout.astro';
import Page from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Settings from '../components/SettingsContainer.astro';
import Logo from '../components/Logo.astro';
import "../../assets/style/global.css";
---

<head>
	<!-- Other stuff -->
	<link rel="stylesheet" href={Astro.resolve("../../assets/style/global.css")} >
</head>

<Layout title="DSPACE">
	<main>
		<ul role="list" class="link-card-grid main-grid">
			<Settings />
			<Logo />
			<Card
				href="/3dprint"
				title="3D print a rocket"
				body="Someone offers you a 3D printer. Do you accept?"
			/>
			<Card
				href="/launch"
				title="Launch a rocket"
				body="Not for real. Not yet. This one is virtual."
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #2c5837, #00ff22);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 25%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #003a03;
		padding: 1rem;
		border-radius: 0.4rem;
		color: #00ff22;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.main-grid {
		list-style-type: none;
		
	}
</style>
