---
import Page from '../components/Page.astro';
import Chip from '../components/Chip.astro';
---

<Page title="Skills" columns="1">
    <nav>
        <Chip text="3D printing" />
        <Chip text="Hydroponics" />
        <Chip text="Electronics" />
        <Chip text="CNC" />
    </nav>
</Page>

<style>
    nav {
        display: flex;
        flex-wrap: wrap;
    }
</style>