---
import Page from '../../components/Page.astro';
import DebugLocalStorage from './svelte/DebugLocalStorage.svelte';
---

<Page columns="1">
    <h3>Cookies:</h3>
    <p>No cookies are used for wallet or inventory data.</p>

    <h3>localStorage:</h3>
    <DebugLocalStorage client:idle />
</Page>
