---
import Page from '../../components/Page.astro';
import CompactCard from '../../components/CompactCard.astro';
import { getWalletBalance } from '../../utils';
import items from '../inventory/json/items';

const item = items.find((item) => item.id === "a0ffb451-1cb0-420d-8a5b-80999ec3e755");
---

<Page title="Shop" columns="1">
    {item ? (
        <CompactCard title={item.name} image={item.image} text={item.description} />
    ) : (
        <div>No item found.</div>
    )}
</Page>
